<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["css/design-system.css"]" />
    <link rel="stylesheet" href="@Assets["css/auth.css"]" />
    <link rel="stylesheet" href="@Assets["css/app-pages.css"]" />
    <link rel="stylesheet" href="@Assets["NtBot.Web.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="js/ntbot.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
