@namespace NtBot.Web.Components.MarketDrivers

@if (Drivers.Count > 0)
{
    @if (!Bare)
    {
        <div class="nt-card md-card md-drivers-list">
            <h3 class="md-section-title">Drivers</h3>
            <DriverRows Drivers="Drivers" />
        </div>
    }
    else
    {
        <DriverRows Drivers="Drivers" />
    }
}

@code {
    [Parameter] public IReadOnlyList<MarketDriverModel> Drivers { get; set; } = [];
    [Parameter] public bool Bare { get; set; }
}
